<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REST API Server</title>
    <style>
        #addedText {
            display: none;
            color: red;
        }
    </style>
</head>
<body>
    <h1>Enter the email of the employee you want to remove. <br/> If email unknown there is a GET request based on employee name</h1>
    <button onclick="go_home()" style="width:50px; height:50px;">HOME
    </button><br/>
    Enter employee email<div class="text-container" id="text_container"> 
        <input type="text" id="emailbox" list="employee_list" 
        placeholder="email@example.com" /> 
        <datalist id="employee_list">
            {% for employee in employees %}
                <option value={{employee.email}}>{{employee.email}}</option>
            {% endfor %}



        </datalist> 
    </div> <br/>
    <button onclick="postData()">Delete employee</button>
    <div id="addedText"></div>


    <script>
        function postData() {
            email = document.getElementById('emailbox').value
            const employee_data = {
                'email' : email
            };

            fetch(window.location.href, {
                headers: { 'Content-Type': 'application/json' },
                method: 'POST',
                body: JSON.stringify(employee_data)
            })
            .then(data => {
                var list = document.getElementById('employee_list');
                var options = list.getElementsByTagName('option');
                for (var i = 0; i < options.length; i++) {
                    if (options[i].value === email) {
                        options[i].remove();
                        break;
                    }
                }
                document.getElementById('emailbox').value = "";
                var addedText = document.getElementById('addedText');
                addedText.style.display = 'inline-block';
                addedText.textContent = "Deleted : " +employee_data['email'];

                setTimeout(function() {
                    addedText.style.display = 'none';
                }, 2000);
            })
            
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function go_home(){
            var path = window.location.href;
            var newpath = path.replace("/delete_employee", "");
            window.location.href = newpath
        }
    </script>

</body>
</html>